<div class="kode-subheader subheader-height">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Modifier mes informations</h1>
      </div>
      <div class="col-md-6">
        <ul class="kode-breadcrumb">
          <li><a href="#">Accueil</a></li>
          <li><a href="#">Mon profile</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--// Sub Header //-->

<!--// Content //-->
<div class="kode-content">

  <!--// Page Section //-->
  <section class="kode-pagesection kode-padding-bottom-40">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="kode-simple-form">
<!--            <img src="assets/images/imgs/{{user.profilePicture}}" width="300px" height="300px">-->

            <form *ngIf="profileForm" [formGroup]="profileForm" (ngSubmit)="onSubmit()" ngNativeValidate>
              <div class="col-md-6">
                <ul>
                  <li>
                    <input formControlName="lastName" type="text" placeholder="Nom:">
                    <span *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                    <span *ngIf="f.lastName.errors.required">Nom est obligatoire</span>
                  </span>
                  </li>
                  <li>
                    <input formControlName="firstName" type="text" placeholder="Prenom:">
                    <span *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                    <span *ngIf="f.firstName.errors.required">Prenom est obligatoire</span>
                  </span>
                  </li>
                  <li>
                    <input formControlName="email" type="text" placeholder="Email:">
                    <span *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <span *ngIf="f.email.errors.required">Email est obligatoire</span>
                    <span *ngIf="f.email.errors.email">Ce n'est pas un email valide</span>
                  </span>
                  </li>
                  <li>
                    <input formControlName="password" type="password" placeholder="Mot de passe:">
                    <span *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <span *ngIf="f.password.errors.required">Mot de passe est obligatoire</span>
                    <span *ngIf="f.password.errors.minlength">Le mot de passe doit contenir au mois 6 caractères</span>
                  </span>
                  </li>
                  <li>
                    <input formControlName="confirmPassword" type="password" placeholder="Mot de passe:">
                    <span *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                    <span *ngIf="f.confirmPassword.errors.required">Mot de passe est obligatoire</span>
                    <span *ngIf="f.confirmPassword.errors.mustMatch">Mot de passe ne correspond pas</span>
                  </span>
                  </li>
                  <li *ngIf="user.type.id == 2">
                    <input formControlName="weight" type="text" placeholder="Poids">
                    <span *ngIf="submitted && f.weight.errors" class="invalid-feedback">
                      <span *ngIf="f.weight.errors.min">Valeur incorrecte</span>
                    </span>
                  </li>
                  <li *ngIf="user.type.id == 2">
                    <input formControlName="height" type="text" placeholder="Taille">
                    <span *ngIf="submitted && f.height.errors" class="invalid-feedback">
                      <span *ngIf="f.height.errors.min">Valeur incorrecte</span>
                    </span>
                  </li>
                  <!--                  <li *ngIf="user.type.id == 2">-->
                  <!--                    <span>Photo de profil</span>-->
                  <!--                    <input type="file" accept="image/*" (change)="onImageChange($event)">-->
                  <!--                  </li>-->
                  <li><input type="submit" value="Sauvegarder" class="thbg-color"></li>

                </ul>
              </div>
              <div class="col-md-6">

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--// Page Section //-->

</div>
<!--// Content //-->



